{% comment %}
  Render filtering in collections

  Usage:
  {% render 'filtering-store' %}
{% endcomment %}

<div
  class="filter"
  data-active="false"
  id="filter"
>

  <form class="filter-form">

    <div class="filter-form_name">
      <span>{{ 'products.facets.filter_by_label' | t }}</span>
      {% render 'icon-close' %}
    </div>

    {% capture accordions %}
      {% for filter in collection.filters %}
        
        {% assign active = 'false' %}
        {% if forloop.first %}
          {% assign active = 'true' %}
        {% endif %}

        {% capture items_filter %}
          <a 
            href="{{ filter.url_to_remove }}"
          >
            {{ 'products.facets.clear_all' | t }}
          </a>

          {% comment %} Determine the filter type, list, boolean, anymore {% endcomment %}
          {%- case filter.type -%}
          
            {%- when 'boolean' or 'list' -%}
              <ul class="filter-group-display__list">
                {%- for filter_value in filter.values -%}
                  <li class="filter-group-display__list-item">
                    <input type="radio"
                      name="{{ filter_value.param_name }}"
                      value="{{ filter_value.value }}"
                      id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                      {% if filter_value.active -%}
                        checked
                      {%- endif %}
                      {% if filter_value.count == 0 and filter_value.active == false -%}
                        disabled
                      {%- endif %}
                    >
                    <label 
                      for="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                      class="filter-group-display__list-item--element"
                      >
                      {{ filter_value.label }}
                    </label>
                    
                  </li>
                {%- endfor -%}
              </ul>
              
            {% comment %} Determine the filter type price{% endcomment %}
            {%- when 'price_range' -%}
              <div class="filter-group-display__price-range ">
                <div class="filter-group-display__price-range--element price-after">
                  <span>{{ cart.currency.symbol }}</span>

                  <input name="{{ filter.min_value.param_name }}"
                    id="Filter-{{ filter.min_value.param_name }}"
                    {% if filter.min_value.value -%}
                      value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                    {%- endif %}
                    type="number"
                    placeholder="0"
                    min="0"
                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  >
                </div>

                <label 
                  for="" 
                  class="filter-group-display__price-range--reach"
                  >
                  {{ 'products.facets.to' | t }}
                </label>

                <div class="filter-group-display__price-range--element">
                  <span>{{ cart.currency.symbol }}</span>

                  <input name="{{ filter.max_value.param_name }}"
                    id="Filter-{{ filter.max_value.param_name }}"
                    {% if filter.max_value.value -%}
                      value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                    {%- endif %}
                    type="number"
                    placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    min="0"
                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  >
                </div>
              </div>

          {%- endcase -%}
        {% endcapture %}


        {% render 'accordion-item',
          title: filter.label,
          content: items_filter,
          active: active
        %}
      {% endfor %}
    {% endcapture %}

    {% render 'accordions',
      accordions: accordions,
      toggle: true,
      class: 'filter-group'
    %}

    <div class="filter-form_submit">
      <button
        type="submit"
        class="btn-2 btn_w-100"
      >
        {{ 'products.facets.apply' | t }}
      </button>
    </div>

  </form>
</div>