{% comment %}
  Render filtering in collections

  Usage:
  {% render 'filtering-store' %}
{% endcomment %}

<div
  class="filter"
  data-active="false"
  id="filter"
>

  <form class="filter-form">

    <div class="filter-form_name">
      <span>{{ 'products.facets.filter_by_label' | t }}</span>
      {% render 'icon-close' %}
    </div>

    {% capture accordions %}
      {% for filter in collection.filters %}

        {% assign active = 'false' %}
        {% if forloop.first %}
          {% assign active = 'true' %}
        {% endif %}

        {% capture items_filter %}
          {% comment %} Determine the filter type, list, boolean, anymore {% endcomment %}
          {%- case filter.type -%}

            {%- when 'boolean' or 'list' -%}
              <ul>
                {%- for filter_value in filter.values -%}
                  <li>
                    <div>
                      <input type="checkbox"
                        name="{{ filter_value.param_name }}"
                        value="{{ filter_value.value }}"
                        id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                        {% if filter_value.active -%}
                          checked
                        {%- endif %}
                        {% if filter_value.count == 0 and filter_value.active == false -%}
                          disabled
                        {%- endif %}
                      >
                      <label
                        for="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                      >
                        {{ filter_value.label }}
                      </label>
                    </div>
                    <span>{{ filter_value.count }}</span>
                  </li>
                {%- endfor -%}
              </ul>

            {% comment %} Determine the filter type price{% endcomment %}
            {%- when 'price_range' -%}
           <div class="ranges">
            <span class="range1">

              <div>
                <span>{{ cart.currency.symbol }}</span>
                {% if  filter.range_min > 0 %}
                {{ filter.range_min | money_without_currency | replace: ',', '' }}
                {% else %}
                  0.00
                {% endif %}
              </div>
            </span>
            <span class="range2">
              <div>
                <span>{{ cart.currency.symbol }}</span>
                {{ filter.range_max | money_without_currency | replace: ',', '' }}
              </div>
            </span>
           </div>
            <div class="wrapper-filter">
              <div class="slider-filter">
                <div class="pro"></div>
              </div>
              <div class="range-in">
                <input
                type="range"
                class="range-min"
                min="0"
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                value="0">
                <input
                type="range"
                class="range-max"
                min="0"
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                value="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
              </div>

              <div class="price-in">
                  <div class="field">
                      <span>{{ cart.currency.symbol }}</span>
                      <input
                      class="in-max"
                      name="{{ filter.min_value.param_name }}"
                      id="Filter-{{ filter.min_value.param_name }}"
                      {% if filter.min_value.value -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                      type="number"
                      placeholder="0"
                      min="0"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      >
                  </div>
                  <!-- <span class="separator">-</span> -->
                  <div class="field">
                    <span>{{ cart.currency.symbol }}</span>
                      <input class="in-min"
                      name="{{ filter.max_value.param_name }}"
                      id="Filter-{{ filter.max_value.param_name }}"
                      {% if filter.max_value.value -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                      type="number"
                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      min="0"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      >
                  </div>
              </div>
          </div>
          {%- endcase -%}

          <a href="{{ filter.url_to_remove }}">
            {{ 'products.facets.clear_all' | t }}
          </a>
        {% endcapture %}


        {% render 'accordion-item',
          title: filter.label,
          content: items_filter,
          active: active
        %}
      {% endfor %}
    {% endcapture %}

    {% render 'accordions',
      accordions: accordions,
      toggle: true,
      class: 'filter-group'
    %}

    <div class="filter-form_submit">
      <button
        type="submit"
        class="btn-2 btn_w-100"
      >
        {{ 'products.facets.apply' | t }}
      </button>
    </div>

  </form>
</div>
