<!-- eslint-disable @html-eslint/require-closing-tags -->
{% comment %}
  Renders product slider component

  Accepts:
  - Product: {object} Product object element
  - Direction: {string}
    'horizontal-outside': for horizontal direction
    'vertical-inside': for vertical direction inside image
    'vertical-left': for vertical outside image direction left
    'vertical-right': for vertical outside image direction right
    'horizontal-inside': for horizontal inside image

  NOTE: In <content> use className "swiper-slide" in the first item

  Usage:
  {% render 'product-media'
    product: product,
    direction: horizontal-outside
  %}
{% endcomment %}
<!-- eslint-enable @html-eslint/require-closing-tags -->

{%- liquid
  if direction == "vertical-inside"
    assign slide_direction = "vertical-inside-swipper-principal"
    assign thumbs_direction = "vertical-inside-swipper-thumbs"
    assign swiper_direction = "vertical-inside-swipper"
  elsif direction == "horizontal-inside"
    assign slide_direction = "horizontal-inside-swipper-principal"
    assign thumbs_direction = "horizontal-inside-swipper-thumbs"
    assign swiper_direction = "horizontal-inside-swipper"
  elsif direction == "horizontal-outside"
    assign slide_direction = "horizontal-swipper-principal"
    assign thumbs_direction = "horizontal-swipper-thumbs"
    assign swiper_direction = "horizontal-swipper"
  elsif direction == "vertical-left" or direction == "vertical-right"
    assign slide_direction = "vertical-outside-swipper-principal"
    assign thumbs_direction = "vertical-outside-swipper-thumbs"
    assign swiper_direction = "vertical-outside-swipper"
  endif
-%}

{% comment %}  MAIN SLIDER {% endcomment %}
<div class="product-media {{ swiper_direction }} {{ direction }}">
  {% comment %}  MAIN SLIDER {% endcomment %}
  <div
    class="swiper main-product__slider-principal
    {{ slide_direction }}"
    data-direction="{{ direction }}"
  >
    <div class="swiper-wrapper ">
      {% for image in product.media %}
        {% assign imgUrl = image | image_url: width: 900 %}
        <div
          class="swiper-slide img-magnifier-container"
        >
          {% render "render-image"
            class: "myimage",
            img_src: imgUrl,
            img: image,
            size: "300 400 900",
            width: "900",
            height: "506"
          %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% comment %}  SIDE SLIDER {% endcomment %}
  
  <div class="swiper main-product__slider-thumbs {{ thumbs_direction }}">
    <div class="swiper-wrapper">
      {% for image in product.media %}
        {% assign imgUrl = image | image_url: width: 175 %}
        <div class="swiper-slide image-elements__image-thumbs">
          {% render "render-image"
            class: "swiper-image",
            img_src: imgUrl,
            img: image,
            width: "175",
            height: "99"
          %}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button swiper-button-next">
      {% render "button-arrow" %} 
    </div>
    <div class="swiper-button swiper-button-prev">
      {% render "button-arrow", direction: "right" %} 
    </div>
  </div>
</div>
