{% comment %}
  Renders product media

  Accepts:
  - product: {Object} Required - Product object element
  - thumbs: {Boolean} Optional - Have a thumbs media. Default is false

  Usage:
  {% render 'product-media'
    product: product,
    thumbs: true
  %}
{% endcomment %}

{% liquid
  assign is_first = true
  if thumbs and product.media.size > 4
    assign navigation = true
  endif
%}

<div class="product-media {% if thumbs %}product-media--thumbs{% endif %}">
  <swiper-container
    id="product-media-js"
    init="false"
    class="product-media__principal"
  >
    {% for media in product.media %}
      {% capture custom_attr %}id="product-image-{{ forloop.index }}" class="product-image-js"{% endcapture %}
      {% render 'product-media-item'
        media: media,
        is_first: is_first,
        width: 700,
        height: 700,
        sizes: "(min-width: 750px) calc(100vw - 22rem), 1100px"
        custom_attr: custom_attr
      %}
      {% if media.media_type == 'image' %}
        {% assign is_first = false %}
      {% endif %}
    {% endfor %}
  </swiper-container>
  
  {% if thumbs %}
    <div class="product-media__thumbs">
      <swiper-container
        init="false"
        id="product-media-thumbs-js"
      >
        {% for media in product.media %}
          {% render 'product-media-item'
            media: media,
            forloop: forloop,
            width: 60,
            height: 60,
            sizes: "10 60"
          %}
        {% endfor %}
      </swiper-container>
      
      {% if navigation %}
        <button
          type="button"
          class="swiper-button swiper-button-prev {{ id_slider }}"
          aria-label="Arrow slider{{ id_slider }} prev"
        >
          {% render "button-arrow" %}
        </button>
        <button
          type="button"
          class="swiper-button swiper-button-next {{ id_slider }}"
          aria-label="Arrow slider{{ id_slider }} next"
        >
          {% render "button-arrow", direction: "right" %}
        </button>
      {% endif %}
    </div>
  {% endif %}

  <div class="product-media__pagination">
    {% for media in product.media %}
      {% if media.media_type == 'image' %}
        <div
          data-id="product-image-{{ forloop.index }}"
          class="product-bullet-js product-media__bullet {% if forloop.first %} visible{% endif %}"
        >
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
