{% comment %}
  Renders product media

  Accepts:
  - product: {Object} Required - Product object element
  - thumbs: {Boolean} Optional - Have a thumbs media. Default is false

  Usage:
  {% render 'product-media'
    product: product,
    thumbs: true
  %}
{% endcomment %}

{% liquid
  if thumbs and product.media.size > 4
    assign navigation = true
  endif
%}

<div class="product-media {% if thumbs %}product-media--thumbs{% endif %}">
  <swiper-container
    id="product-media-js"
    init="false"
    class="product-media__principal"
  >
    {% for image in product.media %}
      {% assign imgUrl = image | image_url: width: 900 %}
      <swiper-slide
        id="product-image-{{ forloop.index }}"
        class="product-image-js"
      >
        {% render "render-image"
          class: "",
          title: product.title,
          alt: product.title,
          img_src: imgUrl,
          img: image,
          size: "300 400 900",
          width: "100%",
          height: "100%"
        %}
      </swiper-slide>
    {% endfor %}
  </swiper-container>
  
  {% if thumbs %}
    <div class="product-media__thumbs">
      <swiper-container
        init="false"
        id="product-media-thumbs-js"
      >
        {% for image in product.media %}
          {% assign imgUrl = image | image_url: width: 60 %}
          <swiper-slide>
            {% render "render-image"
              class: "swiper-image",
              title: product.title,
              alt: product.title,
              img_src: imgUrl,
              img: image,
              width: "60",
              height: "60"
            %}    
          </swiper-slide>
        {% endfor %}
      </swiper-container>
      
      {% if navigation %}
        <button
          type="button"
          class="swiper-button swiper-button-prev {{ id_slider }}"
          aria-label="Arrow slider{{ id_slider }} prev"
        >
          {% render "button-arrow" %}
        </button>
        <button
          type="button"
          class="swiper-button swiper-button-next {{ id_slider }}"
          aria-label="Arrow slider{{ id_slider }} next"
        >
          {% render "button-arrow", direction: "right" %}
        </button>
      {% endif %}
    </div>
  {% endif %}

  <div class="product-media__pagination">
    {% for image in product.media %}
      <div
        data-id="product-image-{{ forloop.index }}"
        class="product-bullet-js product-media__bullet {% if forloop.first %} visible{% endif %}"
      >
      </div>
    {% endfor %}
  </div>
</div>
