<ul
  id="nav-list-js"
  data-event="mouseenter"
  class="nav__child flex"
  data-toggle="true"
  data-active="false"
>
{% for link in linklists[linklist].links %}
  {% if link.links != blank %}
    <li class="nav__child-item  nav-item-js">
      <button
        type="button"
        class="nav__child-button-dropdown child-itembutton-dropdown-js"
        data-active="false"
      >
        <span>{{ link.title }}</span>
        {% render 'icon-caret' %}
      </button>
      <div class="nav__child-dropdown">
        <ul class="nav__child-item--first-level grid">
          {% for childlink in link.links %}
            <li class="nav__child-item--first-level">
              <a
                href="{{ childlink.url }}"
                title="{{ childlink.title }}"
                class="child-title"
              >
                {{ childlink.title }}
              </a>
              {% if childlink.links != blank %}
                <ul class="nav__child-item--second-level">
                  {% for grandchildlink in childlink.links %}
                    <li class="nav__child-item--second-level">
                      <a
                        href="{{ grandchildlink.url }}"
                        title="{{ grandchildlink.title }}"
                      >
                        {{ grandchildlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
  {% else %}
    <li class="nav__child-item">
      <a
        href="{{ link.url }}"
        title="{{ link.title }}"
      >
        {{ link.title }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
<button
  class="burger-nav"
  id="burger-nav-js"
  type="button"
>
  {% render 'icon-hamburger' %}
  {% render 'icon-close' %}
</button>
