{% comment %}
  Renders slide component

  Accepts:
  - section: {Object} **REQUIRED** Section object
  - content: {Html} **REQUIRED** Internal sliders **init with for (iteration)
  - arrows: {Boolean} Show arrows
  - pagination: {Boolean} show pagination
  - perpage: {Number} items per page
  - wrapper: {String} class to style
  - item_max: {Number} Item counter
  - auto: {boolean} If auto move slider
  - mobile_grid: {boolean} If need a grid card on mobile
  - custom_class: {String} I need other slider config

  Use this structure in content prop:
  {% capture slider_content %}
    {% for item in collection %}
      <swiper-slide>
        slide {{ item.index }}
      </swiper-slide>
    {% endfor %}
  {% endcapture %}

  Usage:
  {% render 'slider-component',
    section: section,
    content: slider_content,
    arrows: true,
    pagination: true,
    perpage: 3
  %}
{% endcomment %}

{% liquid
  assign mobile_class = ""

  if mobile_grid
    assign mobile_class = "slider__mobile-grid"
  endif

  unless custom_class
    assign init_class = "slider-js"
    
    if item_max <= perpage
      assign init_class = ""
    endif

  else
    assign init_class = custom_class
  endunless

  
%}

{% assign id_slider = section.id 
  | split: '__'
  | last
  | remove: '-'
  | prepend: 'swiperEl'
%}

<div
  class="{{ wrapper | default: 'slider__wrapper' }}"
>
  <swiper-container
    init="false"
    class="{{ init_class | default: 'slider-js' }} {{ id_slider }}"
    data-pagination
    data-arrows
    data-auto
    data-slides
    data-slides-mobile
    data-spacing
  >
    {{ content }}
  </swiper-container>
</div>

<script>
  const {{ id_slider }} = document.querySelector(
    'swiper-container.{{ init_class | default: 'slider-js' }}.{{ id_slider }}'
  );

  const swiperParams{{ id_slider }} = {
    slidesPerView: {{ perpage_mobile | default: 1 }},
    pagination: {{ pagination | default: false }},
    spaceBetween: 25,
    navigation: {{ arrows | default: true }},
    loop: {{ auto | default: false }},

    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: {{ perpage | default: 4 }},
      },
    },
    on: {
      init: function () {
      console.log('swiper initialized');
    },
    }
  };

  Object.assign({{ id_slider }}, swiperParams{{ id_slider }});

  {{ id_slider }}.initialize();
</script>
