{% comment %}
  Renders slide component

  Accepts:
  - section: {Object} **REQUIRED** Section object
  - content: {Html} **REQUIRED** Internal sliders **init with for (iteration)
  - arrows: {Boolean} Show arrows
  - pagination: {Boolean} show pagination
  - perpage: {Number} items per page
  - wrapper: {String} class to style
  - auto: {boolean} If auto move slider
  - mobile_grid: {boolean} If need a grid card on mobile

  Use this structure in content prop:
  {% capture slider_content %}
    {% for item in collection %}
      <swiper-slide>
        slide {{ item.index }}
      </swiper-slide>
    {% endfor %}
  {% endcapture %}

  Usage:
  {% render 'slider-component',
    section: section,
    content: slider_content,
    arrows: true,
    pagination: true,
    perpage: 3
  %}
{% endcomment %}

{% liquid

%}

{% assign id_slider = section.id
  | split: '__'
  | last
  | remove: '-'
  | prepend: 'swiperEl'
%}

<div
  class="data-slider-js {{ wrapper | default: 'slider__wrapper' }}"
  data-section="{{ id_slider }}"
  >
  <swiper-container
    init="false"
    class="{{ init_class | default: 'slider-js' }} {{ id_slider }}"
    data-container="swiper-container.{{ init_class | default: 'slider-js' }}.{{ id_slider }}"
    data-pagination={{ pagination | default: false }}
    data-auto={{ auto | default: false }}
    data-speed={{ speed | default: false }}
    data-script="{{ 'swiper-element-bundle.min.js' | asset_url }}"
    data-slides={{ perpage | default: 4 }}
    data-slides-mobile={{ perpage_mobile | default: 1 }}
    data-spacing={{ spaceBetween | default: 25 }}
  >
    {{ content }}
  </swiper-container>

  {% if arrows %}
    <button
      type="button"
      class="swiper-button swiper-button-prev {{ id_slider }}
      {% if item_max < 4 %}
        hidden-arrows
      {% endif %}"
      >
        {% render "button-arrow" %}
      </button>
      <button
        type="button"
        class="swiper-button swiper-button-next {{ id_slider }}
        {% if item_max < 4 %}
          hidden-arrows
        {% endif %}"
      >
        {% render "button-arrow", direction: "right" %}
      </button>
    {% endif %}
</div>
