{% comment %}
  Renders slide component

  Accepts:
  - section: {Object} **REQUIRED** Section object
  - content: {Html} **REQUIRED** Internal sliders **init with for (iteration)
  - arrows: {Boolean} Show arrows
  - pagination: {Boolean} show pagination
  - perpage: {Number} items per page
  - wrapper: {String} class to style
  - auto: {boolean} If auto move slider
  - mobile_grid: {boolean} If need a grid card on mobile

  Use this structure in content prop:
  {% capture slider_content %}
    {% for item in collection %}
      <swiper-slide>
        slide {{ item.index }}
      </swiper-slide>
    {% endfor %}
  {% endcapture %}

  Usage:
  {% render 'slider-component',
    section: section,
    content: slider_content,
    arrows: true,
    pagination: true,
    perpage: 3
  %}
{% endcomment %}

{% liquid

%}

{% assign id_slider = section.id
  | split: '__'
  | last
  | remove: '-'
  | prepend: 'swiperEl'
%}

<div
  class="data-slider-js {{ wrapper | default: 'slider__wrapper' }}"
  data-config='{"idSection": "{{ section.id }}", "classContainer": "swiper-container.{{ init_class | default: 'slider-js' }}.{{ id_slider }}", "perViewMobil": {{ perpage_mobile | default: 1 }}, "perViewDesk": {{ perpage | default: 4 }}, "pagination": {{ pagination | default: false }}, "spaceBetween": {{ spaceBetween | default: 25 }}, "arrows": {{ arrows | default: false }}, "loop": {{ auto | default: false }}, "speed": {{ speed | default: false }}, "script": "{{ 'swiper-element-bundle.min.js' | asset_url }}"}'
>
  <swiper-container
    init="false"
    class="{{ init_class | default: 'slider-js' }} {{ id_slider }}"
    data-pagination
    data-arrows
    data-auto
    data-slides
    data-slides-mobile
    data-spacing
  >
    {{ content }}
  </swiper-container>
</div>
